:root {
  --light-bg: #e9ddc6;
  --light-text: #2b2b2b;

  --dark-bg: #2b2b2b;
  --dark-text: #e7e7e7;
}

html {
  background-color: transparent;
  overflow-x: hidden;
  /* border: 2px solid red; */
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  width: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: var(--light-bg);
  background-size: cover, contain;
  background-position: center, right bottom;
  background-repeat: no-repeat, no-repeat;
  font-family: 'Cormorant Garamond', serif;
  /* border: 2px solid orange; */
}

body.dark-theme {
  background: var(--dark-bg);
  color: var(--dark-text);
}

blockquote {
  margin: 1rem;
  margin-bottom: 3rem;
  font-size: 2.2vw;
  background: transparent;
}

a {
  text-decoration: none;
}

svg {
  fill: var(--light-text);
  width: 100%;
  /* border: 1px solid red; */
}

.dark-theme svg {
  fill: var(--dark-text);
}

.dark-theme a:link {
  color: goldenrod;
}

.dark-theme a:visited {
  color: red;
}

.bg-img {
  position: fixed;
  opacity: 15%;
  pointer-events: none;
}

#title {
  height: auto;
  max-width: 90%;
}

#clock {
  top: 25vh;
  right: 0;
  rotate: -45deg;
  -webkit-transform: translate(50%, -10%), rotate(-45deg);
  -ms-transform: translate(50%, -10%), rotate(-45deg);
  transform: translate(50%, -10%), rotate(-45deg);
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 5%;
  margin: 3rem 4rem;
  top: 0;
  left: 0;
  /* flex-wrap: wrap-reverse; */
}

.left-col {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  text-align: center;
}

.right-col {
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

#theme-toggle {
  height: 3rem;
  width: 3rem;
}

.container {
  position: relative;
  top: 0;
  left: 0;
  margin: 3rem;
}

#generate-button {
  position: relative;
  top: 0;
  left: 0;
  height: auto;
  width: 5rem;
}

#prompt {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 0;
  width: 10rem;
  height: 1.5rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  border-radius: 30px;
  z-index: 9;

  background: -o-linear-gradient(291deg, var(--dark-text), #0037ff);
  background: linear-gradient(159deg, rgb(73, 73, 73), rgb(14, 14, 14));
  background-size: 400% 400%;

  -webkit-animation: Breathe 1s ease infinite;
  animation: Breathe 2s ease infinite;
}

@-webkit-keyframes Breathe {
  0% {
    background-position: 14% 0%
  }

  50% {
    background-position: 87% 100%
  }

  100% {
    background-position: 14% 0%
  }
}

@keyframes Breathe {
  0% {
    background-position: 14% 0%
  }

  50% {
    background-position: 87% 100%
  }

  100% {
    background-position: 14% 0%
  }
}

#prompt p {
  color: var(--light-bg);
  font-size: 1.1rem;
  margin: auto;
  padding: 0;
}

.dark-theme #prompt {
  background-color: var(--dark-text);
}

.dark-theme #prompt p {
  color: var(--dark-text);
}

button {
  padding: 0;
  opacity: 80%;
  background-color: transparent;
  border: none;
}

button:hover {
  opacity: 100%;
}

.btn-pop {
  cursor: pointer;
  -webkit-transform: scale(100%);
  -ms-transform: scale(100%);
  transform: scale(100%);
  -webkit-transition: ease-out 0.1s;
  -o-transition: ease-out 0.1s;
  transition: ease-out 0.1s;
}

.btn-pop:hover {
  -webkit-transform: scale(120%);
  -ms-transform: scale(120%);
  transform: scale(120%);
}

.btn-pop:active {
  -webkit-transform: scale(105%);
  -ms-transform: scale(105%);
  transform: scale(105%);
}

.btn-img {
  padding: 0;
  height: auto;
  width: 100%;
}

footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 2rem;
  margin: auto 1rem 1rem 2rem;
}

footer p,
footer a {
  font-size: 1rem;
}

.footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  right: 0;
  margin: 0 0 0 auto;
}

#kofi {
  width: auto;
}

@media (orientation: portrait) {
  .flex-wrapper {
    margin: 3rem 3rem;
  }

  .right-col {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  button {
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.2rem;
    opacity: 100%;
  }

  p,
  blockquote {
    margin-top: 0;
    font-size: 4.2vw;
  }

  a {
    font-size: 4.2vw;
  }

  #clock {
    position: absolute;
    top: 4rem;
    -webkit-transform: translate(50%, 0%) scale(110%);
    -ms-transform: translate(50%, 0%) scale(110%);
    transform: translate(50%, 0%) scale(110%);
  }

  footer {
    margin-bottom: 2rem;
  }
}